@import "./content/about.scss";
@import "./content/skills.scss";

.inner-section {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
  z-index: 15;

  h1 {
    font-size: 3em;
  }
}

@media (min-width: $breakpoint-mobileS) {
  .inner-section {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    z-index: 15;
  }
}

@media (min-width: $breakpoint-laptop) {
  .inner-section {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    z-index: 15;
  }
}
