.inner-section {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
}
.bg-green {
  background-color: $lightGreen;
}

.about-section {
  padding-top: 10%;
  text-align: left;

  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
    border-left: 5px solid rgba($darkGreen, 0.7);
    color: $darkGreen;
    padding-left: 1.5rem;
  }
}
