$powderWhite: #edf5e1;
$lightGreen: #8ee4af;
$darkGreen: #5cdb95;
$lightBlue: #379683;
$darkBlue: #05386b;

$fontFamily: "Roboto", sans-serif;

$breakpoint-mobileS: 320px;
$breakpoint-mobileM: 375px;
$breakpoint-mobileL: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;
$breakpoint-laptopL: 1440px;

$sidebar: 200px;
$navbar: 64px;
