
.about-section {
  padding-top: 10%;
  text-align: left;

  h3 {
    font-size: 2em;
    border-left: 5px solid rgba($darkGreen, 0.7);
    color: $darkGreen;
    padding-left: 1.5rem;
  }
}

@media (min-width: $breakpoint-mobileS) {
  .about-section {
    padding-top: calc(10% + #{$navbar});
    text-align: left;

    p {
      max-width: 100%;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .about-section {
    padding-top: 10%;
    text-align: left;

    p {
      max-width: 70%;
    }
  }
}
