.skills-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .pipes {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .pipe-container {
      height: 76vh;
      width: calc(100% / 6);
      margin: 0 35px;
      
      text-align: center;
      position: relative;

      .skill {
        height: 6%;
        color: $darkBlue;
        font-size: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .pipe {
        height: 90%;
        background-color: rgba($powderWhite, 0.4);
        border: 1.5px solid rgba($powderWhite, 0.8);
        border-top: none;
      }

      .skills-images-container {
        height: 85%;
        position: absolute;
        bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        left: 50%;
        padding: 15px 0;
        transform: translateX(-50%);

        img {
          margin: 5px auto;
          height: 95px;
          width: 80%;
          object-fit: contain;
          cursor: pointer;

          &:hover {
            animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
          }
        }

        @keyframes shake {
          10%,
          90% {
            transform: translate3d(-1px, 0, 0);
          }

          20%,
          80% {
            transform: translate3d(2px, 0, 0);
          }

          30%,
          50%,
          70% {
            transform: translate3d(-4px, 0, 0);
          }

          40%,
          60% {
            transform: translate3d(4px, 0, 0);
          }
        }
      }
    }
  }
}
